@mixin for-phone-xs {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin for-phone-sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin for-phone-sm-only {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin for-tablet-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-tablet-md-only {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop-lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-lg-only {
  @media (min-width: 1200px) and (max-width: 1499px) {
    @content;
  }
}

@mixin for-desktop-xl {
  @media (min-width: 1500px) {
    @content;
  }
}

// font
@mixin font($ff: 'Raleway', $fw: 400, $fs: 16px, $lh: 1.2, $color: inherit) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
}

// font size (rem)
@function rem($px) {
  @return ($px / 16) + rem;
}

// font family
@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../../fonts/#{$url}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

// stop scroll
@mixin stop-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

// visually hidden
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

// ===== responsive font =====
@mixin responsive-font($pcSize, $mobSize) {
  $maxWidth: 1440; //контейнер
  $addSize: $pcSize - $mobSize; //разница в размере
  $maxWidth: $maxWidth - 320; //разница в контейнерах
  font-size: $pcSize + px; //размер на десктопе
  @media (max-width: 1440px) {
    //мобильный шрифт - 16px
    //десктопный шрифт - 32px
    //контейнер - 1200px
    //calc(минимальный размер шрифта + разница с максимальным * (100vw            / размер контейнера))
    //font-size: calc(16px           +           16           * ((100vw - 320px)  /     (1200)));
    font-size: calc(#{$mobSize + px} +      #{$addSize}       * ((100vw - 320px)  / #{$maxWidth}));
  }
}
