<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>

  <!-- Circle -->
  <svg class="progress-circle" viewBox="-10 -10 300 300">
		<circle class="progress-circle__inner js-circle-inner" r="140" cx="140" cy="140" fill="none" stroke="crimson" stroke-width="20"></circle>
	</svg>

  <!-- Line -->
  <div class="progress-line">
		<div class="progress-line__inner js-line-inner"></div>
	</div>

  <header class="header section"></header>
  <main class="main">
    <section class="section"></section>
    <section class="section"></section>
    <section class="section"></section>
  </main>
  <footer class="footer section"></footer>

  <script src="main.js"></script>
</body>
</html>
